# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_ROMMANA_LEFT
    def_bool $(shields_list_contains,Rommana_left)

config SHIELD_ROMMANA_RIGHT
    def_bool $(shields_list_contains,Rommana_right)
