/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include "keypos_30keys.h"

#define _BASE    0
#define _NAV     1
#define _SYM     2
#define _BTF     3

&sk {
    quick-release;
};

&sl {
    release-after-ms = <300>;
};

/ {
// ------------------------- MACROS --------------------------------
    macros {
        muc_you: macro_uc_you {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <5>;
            bindings
                = <&kp LS(Y)>
                , <&kp O>
                , <&kp U>
                ;
        };

        mlc_you: macro_lc_you {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <5>;
            bindings
                = <&kp Y>
                , <&kp O>
                , <&kp U>
                ;
        };

        muc_the: macro_uc_the {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <5>;
            bindings
                = <&kp LS(T)>
                , <&kp H>
                , <&kp E>
                ;
        };

        mlc_the: macro_lc_the {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <5>;
            bindings
                = <&kp T>
                , <&kp H>
                , <&kp E>
                ;
        };

        mlc_are: macro_lc_are {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <5>;
            bindings
                = <&kp A>
                , <&kp R>
                , <&kp E>
                ;
        };

        mlc_qu: macro_lc_qu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <5>;
            bindings
                = <&kp Q>
                , <&kp U>
                ;
        };

        mlc_ould: macro_lc_ould {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <5>;
            bindings
                = <&kp O>
                , <&kp U>
                , <&kp L>
                , <&kp D>
                ;
        };
    };

    combos {
        compatible = "zmk,combos";
// ------------------------- LAYER COMBOS --------------------------------
        combo_BOOT {
            timeout-ms = <50>;
            key-positions = <LMC LTC>;
            bindings = <&bootloader>;
            layers = <_BTF>;
        };

        combo_BTF1 {
            timeout-ms = <50>;
            key-positions = <LHI RHI>;
            bindings = <&mo _BTF>;
            layers = <_BASE _SYM _NAV>;
        };

        combo_BTF2 {
            timeout-ms = <50>;
            key-positions = <LHI LHO>;
            bindings = <&mo _BTF>;
            layers = <_BASE _SYM _NAV>;
        };

        combo_BTF3 {
            timeout-ms = <50>;
            key-positions = <RHO RHI>;
            bindings = <&mo _BTF>;
            layers = <_BASE _SYM _NAV>;
        };

        combo_BTCLR {
            timeout-ms = <50>;
            key-positions = <LBR LBI>;
            bindings = <&bt BT_CLR>;
            layers = <_BTF>;
        };

        combo_NAVR {
            timeout-ms = <50>;
            require-prior-idle-ms = <200>;
            key-positions = <RMI RMM RHI>;
            bindings = <&tog _NAV>;
            layers = <_BASE _SYM _NAV>;
        };

        combo_NAVL {
            timeout-ms = <50>;
            require-prior-idle-ms = <200>;
            key-positions = <LMI LMM LHI>;
            bindings = <&tog _NAV>;
            layers = <_BASE _SYM _NAV>;
        };

// ------------------------- VOLUME COMBOS --------------------------------
        // combo_V_UP {
        //     timeout-ms = <40>;
        //     key-positions = <RTC RMC>;
        //     bindings = <&kp C_VOL_UP>;
        //     require-prior-idle-ms = <200>;
        //     // layers = <_BASE _SYM>;
        // };

        // combo_V_DN {
        //     timeout-ms = <40>;
        //     key-positions = <LTC LMC>;
        //     bindings = <&kp C_VOL_DN>;
        //     require-prior-idle-ms = <200>;
        //     // layers = <_BASE _SYM>;
        // };

        // combo_MUTE {
        //     timeout-ms = <50>;
        //     key-positions = <LBP RBP>;
        //     bindings = <&kp C_MUTE>;
        //     require-prior-idle-ms = <200>;
        //     // layers = <_NAV _SYM>;
        // };

// ------------------------- MODS COMBOS --------------------------------
        combo_CAPS {
            timeout-ms = <50>;
            key-positions = <LTI RTI>;
            bindings = <&caps_word>;
            require-prior-idle-ms = <200>;
            layers = <_BASE>;
        };

        // combo_RALTL {
        //     timeout-ms = <40>;
        //     key-positions = <LMP LTP>;
        //     bindings = <&kp RALT>;
        //     require-prior-idle-ms = <200>;
        //     //layers = <_BASE>;
        // };

        // combo_RALTR {
        //     timeout-ms = <40>;
        //     key-positions = <LMP RTP>;
        //     bindings = <&kp RALT>;
        //     require-prior-idle-ms = <200>;
        //     //layers = <_BASE>;
        // };

// ------------------------- CHARACTER COMBOS --------------------------------
        // combo_J {
        //     timeout-ms = <40>;
        //     key-positions = <RTM RTR>;
        //     bindings = <&kp J>;
        //     layers = <_BASE>;
        // };

        // combo_W {
        //     timeout-ms = <40>;
        //     key-positions = <LTM LTR>;
        //     bindings = <&kp W>;
        //     layers = <_BASE>;
        // };

        // combo_G {
        //     timeout-ms = <40>;
        //     key-positions = <LMR LMM>;
        //     bindings = <&kp G>;
        //     layers = <_BASE>;
        // };

        // combo_F {
        //     timeout-ms = <40>;
        //     key-positions = <RMM RMR>;
        //     bindings = <&kp F>;
        //     layers = <_BASE>;
        // };

        combo_OULD {
            timeout-ms = <50>;
            key-positions = <RTI RTM RTR>;
            bindings = <&mlc_ould>;
            layers = <_BASE>;
        };

        combo_ARE {
            timeout-ms = <50>;
            key-positions = <LTI LTM LTR>;
            bindings = <&mlc_are>;
            layers = <_BASE>;
        };

        combo_YOU {
            timeout-ms = <50>;
            key-positions = <RMI RMM RMR>;
            bindings = <&mm_you>;
            layers = <_BASE>;
        };

        combo_THE {
            timeout-ms = <50>;
            key-positions = <LMI LMM LMR>;
            bindings = <&mm_the>;
            layers = <_BASE>;
        };

        combo_QU {
            timeout-ms = <50>;
            key-positions = <RBM RBR>;
            bindings = <&mlc_qu>;
            layers = <_BASE>;
        };

// ------------------------- SYMBOL COMBOS --------------------------------
        combo_LPAR {
            timeout-ms = <45>;
            require-prior-idle-ms = <200>;
            key-positions = <LMM LMI>;
            bindings = <&kp LPAR>;
            layers = <_BASE _SYM>;
        };

        combo_RPAR {
            timeout-ms = <45>;
            require-prior-idle-ms = <200>;
            key-positions = <RMI RMM>;
            bindings = <&kp RPAR>;
            layers = <_BASE _SYM>;
        };

        combo_LBRC {
            timeout-ms = <45>;
            require-prior-idle-ms = <200>;
            key-positions = <LTM LTI>;
            bindings = <&kp LBRC>;
            layers = <_BASE _SYM>;
        };

        combo_RBRC {
            timeout-ms = <45>;
            require-prior-idle-ms = <200>;
            key-positions = <RTI RTM>;
            bindings = <&kp RBRC>;
            layers = <_BASE _SYM>;
        };

        combo_LBKT {
            timeout-ms = <45>;
            require-prior-idle-ms = <200>;
            key-positions = <LBM LBI>;
            bindings = <&kp LBKT>;
            layers = <_BASE _SYM>;
        };

        combo_RBKT {
            timeout-ms = <45>;
            require-prior-idle-ms = <200>;
            key-positions = <RBI RBM>;
            bindings = <&kp RBKT>;
            layers = <_BASE _SYM>;
        };

        combo_GT {
            timeout-ms = <45>;
            require-prior-idle-ms = <200>;
            key-positions = <RMI RMC>;
            bindings = <&kp GT>;
            layers = <_BASE _SYM>;
        };

        combo_LT {
            timeout-ms = <45>;
            require-prior-idle-ms = <200>;
            key-positions = <LMI LMC>;
            bindings = <&kp LT>;
            layers = <_BASE _SYM>;
        };

        // combo_FSLH {
        //     timeout-ms = <45>;
        //     key-positions = <RMM RMR>;
        //     bindings = <&kp FSLH>;
        //     layers = <_BASE _SYM>;
        // };

        // combo_BSLH {
        //     timeout-ms = <45>;
        //     key-positions = <LMR LMM>;
        //     bindings = <&kp BSLH>;
        //     layers = <_BASE _SYM>;
        // };

// ------------------------- UTILITY COMBOS --------------------------------
        // combo_PSCRN {
        //     timeout-ms = <40>;
        //     key-positions = <LBR LBI>;
        //     bindings = <&kp PSCRN>;
        //     layers = <_BASE _SYM _NAV>;
        //     require-prior-idle-ms = <200>;
        // };

        combo_CP_M {
            timeout-ms = <40>;
            key-positions = <LTR LTM>;
            bindings = <&mac_cp>;
            layers = <_BASE>;
            require-prior-idle-ms = <200>;
        };

        combo_CP_W {
            timeout-ms = <40>;
            key-positions = <LBM LBR>;
            bindings = <&win_cp>;
            layers = <_BASE>;
            require-prior-idle-ms = <200>;
        };

        // combo_PASTA_M {
        //     timeout-ms = <40>;
        //     key-positions = <RBM RBR>;
        //     bindings = <&kp LG(V)>;
        //     layers = <_BASE>;
        //     require-prior-idle-ms = <200>;
        // };

        // combo_PASTA_W {
        //     timeout-ms = <40>;
        //     key-positions = <LBM LBR>;
        //     bindings = <&kp LC(V)>;
        //     layers = <_BASE>;
        //     require-prior-idle-ms = <200>;
        // };
    };

    behaviors {
// ------------------------- TAP-DANCES --------------------------------
        win_cp: win_cp {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <500>;
            bindings = <&kp LC(C)>, <&kp LC(V)>, <&kp LC(X)>;
        };

        mac_cp: mac_cp {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <500>;
            bindings = <&kp LG(C)>, <&kp LG(V)>, <&kp LG(X)>;
        };

        plus_mul: plus_multi {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp KP_PLUS>, <&kp KP_MULTIPLY>;
        };

        min_div: minus_divide {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp KP_MINUS>, <&kp KP_DIVIDE>;
        };

// ------------------------- HOLD-TAPS --------------------------------
        /* left-hand HRMs */
        hml: hrm_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <170>;                // repeat on tap-into-hold
            require-prior-idle-ms = <250>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;             // delay positional check until key-release
        };

        /* right-hand HRMs */
        hmr: hrm_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            quick-tap-ms = <170>;                // repeat on tap-into-hold
            require-prior-idle-ms = <250>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;             // delay positional check until key-release
        };

        hsl: hrs_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <170>;                // repeat on tap-into-hold
            require-prior-idle-ms = <120>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;             // delay positional check until key-release
        };

        hsr: hrs_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <170>;                // repeat on tap-into-hold
            require-prior-idle-ms = <120>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;             // delay positional check until key-release
        };

        bst: backspace-tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <170>;
            //require-prior-idle-ms = <100>;
            bindings = <&mo>, <&kp>;
        };

        spt: space-tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <120>;
            bindings = <&mo>, <&kp>;
        };

// ------------------------- MOD-MORPHS --------------------------------
        // com_sem: comma_semicolon {
        //     compatible = "zmk,behavior-mod-morph";
        //     #binding-cells = <0>;
        //     bindings = <&kp COMMA>, <&kp SEMI>;
        //     mods = <(MOD_LSFT)>;
        // };

        // dot_col: dot_colon {
        //     compatible = "zmk,behavior-mod-morph";
        //     #binding-cells = <0>;
        //     bindings = <&kp DOT>, <&kp COLON>;
        //     mods = <(MOD_LSFT)>;
        // };

        mm_you: mm_you {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mlc_you>, <&muc_you>;
            mods = <(MOD_LSFT)>;
        };

        mm_the: mm_the {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mlc_the>, <&muc_the>;
            mods = <(MOD_LSFT)>;
        };
        
    };

    keymap {
        compatible = "zmk,keymap";

                base_layer {
// -------------------------------    -------------------------------
// |  Z  |  P  |  D  |  L  |  W  |    |  F  |  V  |  O  |  U  |  Y  |
// |  R  |  N  |  S  |  T  |  G  |    |  B  |  H  |  A  |  E  |  I  |
//       |  J  |  C  |  M  |                |  K  |  Q  |  X  |
//        | _NAV(=) | _SYM(BSPC) |    | _NAV(SPC) | _SYM(+) |
                        bindings = <
   &kp Z        &kp P        &kp D       &kp L        &kp W           &kp F  &kp V        &kp O       &kp U        &kp Y
   &hml LALT R  &hml LCTRL N &hml LGUI S &hsl LSHFT T &kp G           &kp B  &hsr LSHFT H &hmr LGUI A &hmr LCTRL E &hmr LALT I 
                &kp J        &kp C       &kp M                               &kp K        &kp Q       &kp X
                                     &bst _NAV EQUAL  &bst _SYM BSPC  &spt _NAV SPACE  &spt _SYM PLUS
                        >;
                };

                nav_layer {
// -------------------------------    ---------------------------------
// | . , |  4  |  5  |  6  | INS |    | pUP | HOME |  UP | END  | ESC |
// |  0  |  1  |  2  |  3  | PSC |    | pDN | LEFT | SPC | RGHT | RET |
//       |  7  |  8  |  9  |                | TAB  |  DN | DEL  |
//                  | RET | BSPC |    | LSFT | BSPC |
                        bindings = <
   &kp KP_DOT    &kp N4        &kp N5       &kp N6        &kp INS         &kp PG_UP    &kp HOME        &kp UP          &kp END          &kp ESC
   &hml LALT N0  &hml LCTRL N1 &hml LGUI N2 &hsl LSHFT N3 &kp PSCRN       &kp PG_DN    &hsr LSHFT LEFT &hmr LGUI SPACE &hmr LCTRL RIGHT &hmr LALT RET
                 &kp N7        &kp N8       &kp N9                                     &kp TAB         &kp DOWN        &kp DEL
                                                &kp RET   &bst _SYM BSPC  &kp LSHFT    &kp BSPC
                        >;
                };
                
                sym_layer {
// -------------------------------    -------------------------------
// |  \  |  |  |  _  |  =  |  `  |    |  ~  |  "  |  ;  |  :  |  !  |
// |  /  |  *  |  -  |  +  |  <  |    |  >  |  '  |  ,  |  .  |  ?  |
//       |  &  |  ^  |  %  |                |  @  |  #  |  $  |
//                  |     | BSPC |    | SPC | BSPC |
                        bindings = <
   &kp BSLH        &kp PIPE        &kp UNDER       &kp EQUAL       &kp GRAVE     &kp TILDE &kp DQT        &kp SEMI        &kp COLON      &kp EXCL
   &hml LALT SLASH &hml LCTRL STAR &hml LGUI MINUS &hsl LSHFT PLUS &kp LT        &kp GT    &hsr LSHFT SQT &hmr LGUI COMMA &hmr LCTRL DOT &hmr LALT QMARK
                   &kp AMPS        &kp CARET       &kp PRCNT                               &kp AT         &kp HASH        &kp DLLR
                                                          &none    &kp BSPC      &spt _NAV SPACE  &kp BSPC
                        >;
                };

                btf_layer {
// -------------------------------    ------------------------------
// | BT1 | BT2 | BT3 | BT4 | BT5 |    | F1 | F2  | F3  | F4  | F5  |
// | ALT | CTL | GUI | SFT | USB |    | F6 | F7  | F8  | F9  | F10 |
// |     |  v. |  v- |  v+ |     |    |    | F11 | F12 | APP |     |
//                   |     |     |    |    |     |
                        bindings = <
   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp F1 &kp F2  &kp F3  &kp F4    &kp F5       
   &kp LALT     &kp LCTRL    &kp LGUI     &kp LSHFT    &out OUT_TOG   &kp F6 &kp F7  &kp F8  &kp F9    &kp F10
                &kp C_MUTE   &kp C_VOL_DN &kp C_VOL_UP                       &kp F11 &kp F12 &kp K_APP
                                                &none   &none         &none  &none
                        >;
                };                
    };
};
