# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_FLIP_LEFT
    def_bool $(shields_list_contains,FLiP_left)

config SHIELD_FLIP_RIGHT
    def_bool $(shields_list_contains,FLiP_right)
